div.content {
	clear: both;
	margin-top: 40px;
}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

div.navbar a#logo {

}

table tr td {
	vertical-align: middle !important;
}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

div.footer address {
	font-size: 10px;
}